.details-page{


min-height:100vh;

background:
linear-gradient(
135deg,
#fff7ed,
#f8fafc
);


display:flex;

justify-content:center;

align-items:center;

padding:100px 20px;


}



.details-card{


background:white;

width:100%;

max-width:700px;

padding:45px;

border-radius:35px;

box-shadow:
0 25px 60px rgba(0,0,0,.1);


}



.details-top{


display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;


}



.details-top h1{


color:#0f172a;

font-size:36px;


}



.details-content p{


color:#64748b;

margin:20px 0;

font-size:17px;


}



.details-content strong{


color:#0f172a;


}



.back-btn{


display:inline-block;

margin-top:30px;

background:#f97316;

color:white;

padding:14px 25px;

border-radius:20px;

text-decoration:none;

font-weight:700;


}