.booking-page{


min-height:100vh;


background-image:
linear-gradient(
rgba(15,23,42,0.65),
rgba(15,23,42,0.45)
),
url("/Consultations.jpg");


background-size:cover;


background-position:center;


background-repeat:no-repeat;


display:flex;


justify-content:center;


align-items:center;


padding:100px 20px;


}




.booking-card{


width:100%;


max-width:650px;


background:white;


padding:45px;


border-radius:35px;


box-shadow:
0 25px 60px rgba(0,0,0,.08);


}




.booking-title span{


color:#f97316;


font-weight:800;


font-size:13px;


letter-spacing:2px;


}




.booking-title h1{


font-size:42px;


margin:15px 0;


color:#0f172a;


}




.booking-title p{


color:#64748b;


margin-bottom:35px;


}




form{


display:flex;


flex-direction:column;


gap:15px;


}




label{


font-weight:700;


color:#334155;


}




input,
select,
textarea{


width:100%;


padding:15px;


border-radius:15px;


border:1px solid #e2e8f0;


font-size:15px;


outline:none;


}




input:focus,
select:focus,
textarea:focus{


border-color:#f97316;


}




textarea{


height:130px;


resize:none;


}





.input-row{


display:grid;


grid-template-columns:1fr 1fr;


gap:20px;


}




button{


margin-top:15px;


background:#f97316;


color:white;


border:none;


padding:16px;


border-radius:20px;


font-size:16px;


font-weight:800;


cursor:pointer;


transition:.3s;


}




button:hover{


background:#ea580c;


transform:translateY(-3px);


}




.booking-message{


margin-top:20px;


font-weight:700;


color:#16a34a;


}




@media(max-width:700px){



.booking-card{


padding:25px;


}



.booking-title h1{


font-size:32px;


}



.input-row{


grid-template-columns:1fr;


}



}